.upload {
    display: flex;
    flex-direction: column;
    width: 60%;
    margin: 10px auto 10px auto;
    background-color: whitesmoke;
    border-top: 1px solid lightgray;
    width: 60%;
}

.upload_progress {
    width: 100%;
}